@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@model CardChqViewModel

<div class="col-md-12">
    <input type="hidden" id="errorMessage" value="@ViewBag.ErrorMessage" />
    <table class="table smallfrontTable">
        <tr>
            <th style="text-align:right;">Card Number :</th>
            <td style="text-align:left;">@Model.CardCustomerInformation.CB_CARDHOLDER_NO</td>
            <th style="text-align:right;" rowspan="6">
                Photo :
            </th>
            <td rowspan="6">
                <img ID="lmgPhoto" src ="@Model.CardCustomerInformation.PhotoUrl" style="width: 160px; height: 180px;" />
            </td>

        </tr>
        <tr>
            <th style="text-align:right;">Customer Name :</th>
            <td style="text-align:left;">@Model.CardCustomerInformation.NAME</td>

        </tr>
        <tr>
            <th style="text-align:right;">Date of Birth :</th>
            <td style="text-align:left;">@Model.CardCustomerInformation.CB_DOB</td>

        </tr>
        <tr>
            <th style="text-align:right;">Mother Name :</th>
            <td style="text-align:left;">@Model.CardCustomerInformation.CB_MOTHER_NAME</td>
        </tr>
        <tr>
            <th style="text-align:right;">Phone No :</th>
            <td style="text-align:left;">@Model.CardCustomerInformation.CB_MOBILE_NO</td>
        </tr>
        <tr>
            <th style="text-align:right;">Credit Limit :</th>
            <td style="text-align:left;">@Model.CardCustomerInformation.CB_CUST_LIMIT</td>
        </tr>
        <tr>
            <th style="text-align:right;">Customer Status :</th>
            <td style="text-align:left;">@Model.CardCustomerInformation.STATUS</td>
            <th style="text-align:right;" rowspan="2">
                Signature :
            </th>
            <td rowspan="2">
                <img ID="lmgSignature" src="@Model.CardCustomerInformation.SignatureUrl" style="width: 180px; height: 60px;" />
            </td>
        </tr>
        <tr>
            <th style="text-align:right;">Card Type :</th>
            <td style="text-align:left;">@Model.CardCustomerInformation.PR_DESC</td>
        </tr>
        <tr>
            <th style="text-align:right;">Center Id :</th>
            <td style="text-align:left;">@Model.CardCustomerInformation.CB_CENTRE_CD</td>
            <th style="text-align:right;">Bill Address :</th>
            <td style="text-align:left;">@Model.CardCustomerInformation.CB_BILL_ADDR_CD</td>
        </tr>
        <tr>
            <th style="text-align:right;">Home Address :</th>
            <td style="text-align:left;" colspan="3">@Model.CardCustomerInformation.HomeAddress</td>
        </tr>
        <tr>
            <th style="text-align:right;">Company Address :</th>
            <td style="text-align:left;" colspan="3">@Model.CardCustomerInformation.CompanyAddress</td>
        </tr>
        <tr>
            <td style=" text-align:left" colspan="4">
                <h5>Cheque Book Information</h5>
            </td>
        </tr>
        <tr>
            <th style="text-align:right;">Books Issued :</th>
            <td style="text-align:left;">
                <div class="form-group">
                    <select class="form-control" id="ddlChqBookSL" asp-items="ViewBag.IssuedChqBooks">
                    </select>
                </div>
            </td>
            <th style="text-align:right;">
                Issue Date :
            </th>
            <td style="text-align:left;">
                <label id="chqIssueDate"></label>
            </td>
        </tr>
        <tr>
            <th style="text-align:right;">Num of Leaf :</th>
            <td style="text-align:left;">
                <label id="numOfLeaf"></label>
            </td>
            <th style="text-align:right;">
                Cheque Book Status :
            </th>
            <td style="text-align:left;">
                <label id="chqBookStatus"></label>
            </td>
        </tr>
    </table>
</div>
