
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using XCRV.Domain.Entities

@model RelatedPartyViewModel


@{
    var fdNameOne = "collapseDetails" + Model.AccountNumber+"_One";
    var fdNameTwo = "collapseDetails" + Model.AccountNumber + "_Two";

    <div class="row">
        <div class="col-12" id="accordion">
            <div class="card card-primary card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#@fdNameOne">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            Account Details
                        </h4>
                    </div>
                </a>
                <div id="@fdNameOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-striped smallfrontTable">
                                    <tr>
                                        <th style=" width: 25%; text-align: right;">Account Number : </th>
                                        <td style=" width: 25%; text-align: left;">@Model.RelatedPartyInfo.FORACID</td>
                                        <th style=" width: 25%; text-align: right;">Name : </th>
                                        <td style=" width: 25%; text-align: left;">@Model.RelatedPartyInfo.ACCT_NAME</td>
                                    </tr>
                                    <tr>
                                        <th style=" width: 25%; text-align: right;">Balance : </th>
                                        <td style=" width: 25%; text-align: left;">@Model.RelatedPartyInfo.CLR_BAL_AMT</td>          
                                    </tr>
                                                   
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-primary card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#@fdNameTwo">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            Related Parties
                        </h4>
                    </div>
                </a>
                <div id="@fdNameTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                               
                                <table class="table table-striped smallfrontDataTable">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Serial</th>
                                            <th>Cust. ID</th>
                                            <th>Name</th>
                                            <th>Relation Type</th>
                                            <th>Relation Code</th>
                                            <th>Amount</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="bg-white">
                                        @foreach (var item in Model.RelatedPartyDetails)
                                    {
                                            <tr style="font-size: 15px;">
                                                <td>@item.ACCT_POA_AS_SRL_NUM</td>

                                                <td><i class="fa fa-user"></i><a href="/CustomerGeneralDetails/Index?customerId=@item.CUST_ID">@item.CUST_ID</a></td>

                                                <td>@item.ACCT_POA_AS_NAME</td>
                                                <td>@item.ACCT_POA_AS_REC_TYPE</td>
                                                <td>@item.CUST_RELTN_CODE</td>
                                                <td>@item.ACCT_POA_AS_AMT_ALWD</td>
                                                <td></td>
                                            </tr>
                                    }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}